[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
.deploy-tmp/
[Ll]ogs/
[Uu]ser[Ss]ettings/
*.pidb
*.suo
*.user
*.userprefs
*.unityproj
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
sysinfo.txt
*.apk
*.aab
*.unitypackage
*.app
crashlytics-build.properties
Assets/AssetStoreTools*
